#about-us-container {
    padding: 2rem;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    .header {
        text-align: center;
        background-color: var(--web-theme-color);
        color: #fff;
        padding: 2rem 1rem;
        border-radius: 0.5rem;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1.25rem;
        }
    }

    .section {
        background-color: #fff;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h2 {
            font-size: 2rem;
            color: var(--web-theme-color);
            border-bottom: 0.2rem solid var(--web-theme-color);
            padding-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.5rem;
            color: #333;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.6;
        }
    }
}