#navbar-wrapper {
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0.1rem 5rem rgba(0, 0, 0, 0.5);

    header {
        width: 100%;
        height: 8rem;
        background: #F3F5F4;
        border-bottom: 0.1rem solid #dcdcdc;

        nav {
            width: 95%;
            /* background: red; */
            height: inherit;
            position: relative;

            section:nth-child(1) {
                width: 23%;
                /* background: lightskyblue; */
                height: 100%;
                border-right: 0.1rem solid #dcdcdc;
                display: flex;
                justify-content: flex-end;
                position: relative;
                padding-right: 2rem;
                /* background: red; */

                figure {
                    width: 20rem;

                    img {
                        width: 100%;
                    }
                }
            }

            section:nth-child(2) {
                width: 63%;
                height: 100%;
                /* background: lightsalmon; */
                justify-content: right;
                padding-right: 4rem;
                border-right: 0.1rem solid #dcdcdc;

                ul li {

                    &#dropdown {
                        margin-right: 1rem;
                        position: relative;

                        #dropdown-content {
                            position: absolute;
                            width: 17rem;
                            height: fit-content;
                            display: none;
                            opacity: 0;
                            background: #222222;
                            transition: all ease 0.3s;

                            li a {
                                border-bottom: 0.1rem solid #444;
                                color: #eee;
                                padding: 1rem 1.2rem;
                                width: 100%;
                                height: fit-content;
                                display: flex;
                                align-items: center;

                                &:hover {
                                    color: var(--web-theme-color);
                                }
                            }
                        }

                        &:hover #dropdown-content {
                            display: block;
                            animation: dropdown 0.3s forwards 1ms;
                        }
                    }

                    a {
                        text-decoration: none;
                        font-weight: bolder;
                        font-size: 1.2rem;
                        color: #444;
                        transition: all ease 0.1s;

                        i {
                            position: absolute;
                            font-weight: 100;
                            font-size: 2rem;
                        }

                        &:hover {
                            color: #999;
                        }
                    }
                }

                #get-free-esti {
                    background: var(--web-theme-color);
                    color: #eee;
                    padding: 0.7rem 1.5rem;
                    height: 3rem;
                    white-space: nowrap;
                    border-radius: 10rem;
                    cursor: pointer;
                    font-weight: 400;
                    border: 0.1rem solid transparent;
                    transition: all ease 0.15s;
                    position: relative;
                    overflow: hidden;
                    z-index: 10000;
                    display: none;

                    &:before {
                        content: 'Get Free Estimation';
                        position: absolute;
                        border: 0.1rem solid #eee;
                        color: var(--web-theme-color);
                        bottom: -5rem;
                        left: -10%;
                        background: #F3F5F4;
                        width: 120%;
                        height: 130%;
                        border-radius: 50%;
                        transition: all ease 0.35s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:hover::before {
                        bottom: -0.5rem;
                    }
                }
            }

            section:nth-child(3) {
                width: 14%;
                /* background: lightgreen; */
                height: 100%;
                justify-content: left;
                padding-left: 3rem;

                .menu-icon {
                    font-size: 1.8rem;
                    cursor: pointer;
                    transition: all ease 0.25s;
                    padding: 1rem;
                    border-radius: 50%;

                    &:hover {
                        background: var(--web-theme-color);
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
}


@keyframes dropdown {
    to {
        opacity: 1;
    }
}

@media (max-width: 1111px) {

    #header {
        display: none !important;
    }

    nav {
        section:nth-child(2) {
            padding-right: 1.5rem !important;

            ul li {
                display: none;
            }

            #get-free-esti {
                display: block !important;
            }
        }
    }

    #navbar-links {
        display: block !important;
    }

    #side-menu {
        width: 100% !important;
    }
}