.section {
  padding: 5rem;
  font-family: 'Arial, sans-serif';
  background: #f9f9f9;
  color: #333;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  /* Header styling */
  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.5;
    }
  }

  /* Article styling */
  .article {
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: all ease 0.2s;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    h2 {
      font-size: 2.1rem;
      margin-bottom: 0.625rem;
      color: #333;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.2rem;
        padding: 1rem;
        border-bottom: 0.0625rem solid #e0e0e0;

        strong {
          color: var(--web-theme-color);
        }

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  .technologies {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: left;
      width: 100%;
    }

    .slick-slider {
      width: 95%;
      padding: 0 1rem;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    .slick-arrow {
      transition: all ease 0.15s;
      transform: translate(0, -2rem);

      &:hover {
        scale: 1.05;
      }

      &::before {
        color: #000;
        font-size: 2.5rem;
      }
    }

    .card-wrapper {
      padding: 2rem;
      display: flex !important;
      justify-content: center;
      align-items: center;

      .tech-card {
        min-width: 22rem;
        height: 22rem;
        border-radius: 50%;
        /* background: red; */
        background: #eee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        transition: all ease 0.2s;

        img {
          width: 10rem;
        }

        &:hover {
          transform: scale(1.05);
          filter: brightness(1.04);
        }
      }
    }
  }
}

@media (max-width: 1111px) {
  .section {
    padding: 5rem 2rem;
  }  
}