.career {
    max-width: 50rem;
    margin: 0 auto;
    padding: 4rem 1.25rem;

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 1.875rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .form-section {
            margin-bottom: 1.25rem;
        }

        h3 {
            font-size: 1.4rem;
            margin-bottom: 0.625rem;
        }

        input,
        textarea {
            width: 100%;
            padding: 0.75rem;
            margin-bottom: 0.625rem;
            border: 0.0625rem solid #ccc;
            border-radius: 0.5rem;
            box-sizing: border-box;
            font-size: 1rem;
            transition: border-color 0.3s;
            color: var(--web-theme-color);
            
            &::placeholder {
                color: var(--web-theme-color);
            }

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

        textarea {
            max-width: 100%;
            min-width: 100%;
            min-height: 7.5rem;
            max-height: 45rem;
        }

        button {
            width: 30%;
            margin: 0 auto;
            background-color: var(--web-theme-color);
            color: #fff;
            border: none;
            border-radius: 0.5rem;
            padding: 1rem;
            font-size: 1rem;
            cursor: pointer;
            transition: all ease 0.5s;

            &:hover {
                filter: brightness(0.95);
                transform: translateY(-0.15rem);
            }
        }
    }
}