@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

* ::selection {
  background: var(--web-theme-color);
}

body {
  -webkit-font-smoothing: antialiased;
  background: #eeeeee;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --web-theme-color: #e78001;
  --footer-color: #111;
}